.conductor-container
    display: grid
    grid-template-columns: 1fr 1fr
    box-sizing: border-box
    margin-left: 0
    margin-right: 0
    height: 650px
    padding: 100px 5% 0 5%
    .container-inner
        box-sizing: border-box
        padding: 0 5%
        max-width: 100%
        margin-bottom: 45px
        h4
            color: #00dc82
            margin-bottom: 0
            margin-top: 0
            font-size: 24px
            position: relative
            font-weight: 500
            text-transform: uppercase
            line-height: 1.1
        h2
            margin: 0 0 20px
            font-size: 48px
            position: relative
            word-wrap: break-word
            font-weight: 500
            text-transform: uppercase
            line-height: 1.1
            color: inherit
    .wrapper
        font-size: 16px
        line-height: 1.6em
        .wrapper_text
            margin-bottom: 35px
        .column
            margin-bottom: 35px
            .column-wrapper
                margin-bottom: 0
                .wrapper_items
                    column-count: 2
                    font-size: 16px
                    list-style: none
                    margin-top: 25px
                    margin-bottom: 30px
                    padding-left: 25px
                    line-height: 1.6em
                    li
                        line-height: 1.6em
                        font-weight: 700
                        margin-bottom: 10px
                        &::before
                            color: #ffc61a
                            content: "\2713 "
                            display: block
                            display: inline-block
                            font-weight: normal
                            font-size: 14px
                            font-size: inherit
                            text-rendering: auto
                            -webkit-font-smoothing: antialiased
                            -moz-osx-font-smoothing: grayscale
                            font-weight: 100
                            color: #00dc82
                            position: absolute
                            margin: 2px 0 0 -26px
                            font-size: 27px
        .wrap
            display: flex
            justify-content: flex-start
    .container-img
        box-sizing: border-box
        padding: 0 5%
        max-width: 100%
        margin-bottom: 45px
        width: 558px
        display: flex
        flex-direction: column
        justify-content: center
        .img-content
            height: auto
            width: 100%
            img
                display: flex
                width: 100%
                height: 100%
                transform: scaleX(1)
                padding-bottom: 0px
.animation-block
    margin-bottom: 5vh
    .block
        background-color: #ffffff
        display: -webkit-box
        display: -moz-box
        display: -ms-flexbox
        display: -webkit-flex
        display: flex
        position: relative
        width: 100%
        min-height: auto
        max-height: auto
        margin: 0 auto
        padding-top: 0
        padding-bottom: 0
        .block_img
            background-position: center center
            background-repeat: no-repeat
            background-size: cover
            display: -webkit-box
            display: -moz-box
            display: -ms-flexbox
            display: -webkit-flex
            display: flex
            position: relative
            width: 100%
            height: auto
            margin: 0 auto
            overflow: hidden
            z-index: 0
            .img_background
                background-image: url(/img/banner/taxi-fondo.jpg)
                background-position: center center
                background-repeat: no-repeat
                background-size: cover
                position: absolute
                min-width: 100%
                height: auto
                min-height: 100%
                top: 50%
                left: 50%
                transform: translate(-50%, -50%)
                z-index: -1
            .container-text
                max-width: 1280px
                padding-top: 0
                padding-bottom: 0
                width: 100%
                margin-right: auto
                margin-left: auto
                margin-top: 8rem
                align-self: flex-start
                .inner-conatiner
                    padding: 64px
                    width: 50%
                    max-width: 100%
                    color: inherit
                    border-radius: 15px
                    background-color: #00dc8247
                    .inner-grid
                        grid-column-gap: 36px
                        grid-row-gap: 36px
                        -ms-grid-columns: repeat(12, 1fr)
                        grid-template-columns: repeat(12, 1fr)
                        display: grid
                        height: 100%
                        justify-items: inherit
                        .grid
                            grid-column: 1 / span 8
                            width: 100%
                            align-self: center
                            display: grid
                            order: 1
                            color: #fff
                            .container-title
                                margin-bottom: 24px
                                text-align: left
                                h2
                                    display: flex
                                    flex-wrap: nowrap
                                    font-size: 36px
                                    font-weight: 700
                                    line-height: 44px
                                    transition: all 200ms cubic-bezier(0.4, 0, 0.2, 1)
                                    color: currentColor
                                    letter-spacing: 0
                                    margin: 0
                                    width: 100%
                            .container-paragraph
                                margin-bottom: 24px
                                text-align: left
                                p
                                    font-size: 16px
                                    font-weight: 700
                                    line-height: 24px
                                    color: currentColor
                                    letter-spacing: 0
                            .container-button
                                display: flex
                                flex-wrap: wrap
                                width: 100%
                                justify-content: left
                                -webkit-box-align: center
                                align-items: center
                                -webkit-box-orient: horizontal
                                -webkit-box-direction: normal
                                flex-direction: row
@media only screen and (max-width: 1136px)
    .conductor-container
        width: 100%
        display: inline-block
        .container-inner
            box-sizing: border-box
            padding: 0 5%
            margin-bottom: 45px
            max-width: 100%
            .wrapper_items
                column-count: 1
    .animation-block
        margin-bottom: 5vh
        .block
            padding-top: 0
            padding-bottom: 0
            .block_img
                .container-text
                    max-width: 100%
                    padding-top: 0
                    padding-bottom: 0
                    .inner-conatiner
                        padding: 40px 24px
                        .inner-grid
                            grid-column-gap: 16px
                            grid-row-gap: 36px
                            grid-template-columns: repeat(4, 1fr)
                            .grid
                                grid-column: 1/-1
                                .container-title
                                    margin-bottom: 16px
@media screen and (max-width: 600px)
    .conductor-container
        width: 100%
        .container-inner
            box-sizing: border-box
            padding: 0 5%
            margin-bottom: 45px
            max-width: 100%
            .wrapper_items
                column-count: 1
    .animation-block
        margin-bottom: 5vh
        .block
            padding-top: 0
            padding-bottom: 0
            .block_img
                .container-text
                    max-width: 100%
                    padding-top: 0
                    padding-bottom: 0
                    .inner-conatiner
                        padding: 40px 24px
                        width: 100%
                        .inner-grid
                            grid-column-gap: 16px
                            grid-row-gap: 36px
                            grid-template-columns: repeat(4, 1fr)
                            .grid
                                grid-column: 1/-1
                                .container-title
                                    margin-bottom: 16px
@media screen and (max-width: 320px)
    .conductor-container
        width: 100%
        .container-inner
            box-sizing: border-box
            padding: 0 5%
            margin-bottom: 45px
            max-width: 100%
            .wrapper_items
                column-count: 1
    .animation-block
        margin-bottom: 5vh
        .block
            padding-top: 0
            padding-bottom: 0
            .block_img
                .container-text
                    max-width: 100%
                    padding-top: 0
                    padding-bottom: 0
                    .inner-conatiner
                        padding: 40px 24px
                        .inner-grid
                            grid-column-gap: 16px
                            grid-row-gap: 36px
                            grid-template-columns: repeat(4, 1fr)
                            .grid
                                grid-column: 1/-1
                                .container-title
                                    margin-bottom: 16px
